doctype html
head
  title=isbn + " Search Results"
  meta(charset='UTF-8')

div.result-list
  each result in results
    div.result(
        data-isbn=isbn,
        data-title=result.title,
        data-author=result.author,
        data-thumbnail=result.thumbnail,
        data-google_id=result.google_id,
        title="Click to copy command"
      )
      div.thumbnail
        img(src=result.thumbnail, alt="Thumbnail for " + result.title)
      div.title= result.title
      div.author= result.author

style.
  .result-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
  }

  .result {
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
  }

script.
  document.addEventListener('DOMContentLoaded', () => {
    Array.from(document.querySelectorAll('.result')).forEach(result => {
      result.addEventListener('click', () => {
        const { isbn, title, author, thumbnail, google_id } = result.dataset;
        const command = `
          function load_${isbn}() {
            curl "${thumbnail}" > data/thumbnails/${isbn}
            convert data/thumbnails/${isbn} -resize x192 data/thumbnails/${isbn}
            ed -s data/books.csv <<< w
            echo -E "${isbn},${title},${author},,,,${google_id}" >> data/books.csv
          }; load_${isbn}`.split(/\n/).map(x => x.replace(/^        /, '')).join('\n');
        navigator.clipboard.writeText(command)
          .then(() => window.close())
          .catch(e => alert(e));
      });
    });
  });
  
