doctype html
head
  title Bird Book Archive
  link(rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>')

  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(charset='UTF-8')
  link(rel='stylesheet', href='site.css')

div.filters
  div.filter
    each category in categories
      button.filter-button(
        data-filter-type='category',
        data-filter-value=category || '__',
        data-filter-selected='no'
      )=category || 'None'
div.book-list
  each book in books
    if book.Title
      div.book(
        data-category=book.Category || '__',
        style=`--book-color: ${book.Color};`
      )
        div.book__thumbnail
          if book.ISBN && book['Google ID']
            a(href=`https://books.google.ca/books?id=${book['Google ID']}`)
              img(src=book.ISBN, alt="Thumbnail for " + book.Title)
          else if book.ISBN
            img(src=book.ISBN, alt="Thumbnail for " + book.Title)
        h3.book__title= book.Title
        div.book__author= book.Author
        div.book__notes= book.Notes
        div.book__location= locations[book.Location]

script(src='section_filters.js')

//- Generate CSS with a selector for each category filter:
//- If any category filter is set, hide everything. If the book matches at least one of
//- the selected filters, show it.
style.
  body[data-category]:not([data-category='']) .book-list .book {
    display: none;
  }
style
  each category in categories
    - let categoryKey = category || '__'
    - let selectorForMatchingThisCategory = "[data-category='" + category + "']"
    =`body[data-category~='${categoryKey}'] .book-list .book[data-category='${categoryKey}'] { display: block; }`
