doctype html
head
  title Bird Book Archive
  link(rel='stylesheet', href='site.css')

input(type="radio",name="category",id="category-_all")
label(for="category-_all")="All"
each category in categories
  input(type="radio",name="category",id="category-" + category)
  label(for="category-" + category)=category
div.book-list
  each book in books
    div.book(data-category=book.Category)
      div.book__thumbnail
        if book.ISBN
          img(src=book.ISBN, alt="Thumbnail for " + book.Title)
      h3.book__title= book.Title
      div.book__author= book.Author
      div.book__notes= book.Notes
style
  each category in categories
    ="#category-" + category + ":checked ~ .book-list .book:not([data-category='" + category + "']) { display: none; }"
